<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeSmart - Sidebar Menu</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'>
  <link rel="stylesheet" href="../css/module.css">

</head>
<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <div class="text logo-text">
          <span class="name">CodeSmart</span>
          <span class="profession">Advance JavaScript</span>
          <span class="profession">Module</span>
        </div>
      </div>
      <i class='bx bx-chevron-right toggle'></i>
    </header>
    <div class="menu-bar">
      <ul class="menu-links">
        <li class="nav-link has-dropdown">
          <a href="#">
            <i class='bx bx-code-alt icon'></i>
            <span class="text nav-text">JS Advance </span>
            <span class="arrow">&#9660;</span>
          </a>
          <ul class="submenu">
            <li><a href="#">Closure</a></li>
            <li><a href="#">Currying</a></li>
            <li><a href="#">Memoization</a></li>
            <li><a href="#">Functional Programming</a></li>
          </ul>
        </li>
        <li class="nav-link has-dropdown">
          <a href="#">
            <i class='bx bx-code-alt icon'></i>
            <span class="text nav-text">Design Patter</span>
            <span class="arrow">&#9660;</span>
          </a>
          <ul class="submenu">
            <li><a href="#">MVC</a></li>
            <li><a href="#">Factory Pattern</a></li>
            <li><a href="#">Singleton Pattern</a></li>
          </ul>
        </li>
        <li class="nav-link has-dropdown">
          <a href="#">
            <i class='bx bx-code-alt icon'></i>
            <span class="text nav-text">Front-End</span>
            <span class="arrow">&#9660;</span>
          </a>
          <ul class="submenu">
            <li><a href="#">React.js, Vue.js, atau Angular</a></li>
            <li><a href="#">State Management</a></li>
            <li><a href="#">Routing</a></li>
          </ul>
        </li>
        <li class="nav-link has-dropdown">
          <a href="#">
            <i class='bx bx-code-alt icon'></i>
            <span class="text nav-text">Back-End</span>
            <span class="arrow">&#9660;</span>
          </a>
          <ul class="submenu">
            <li><a href="#">Node.js & Express.js</a></li>
            <li><a href="#">Database</a></li>
            <li><a href="#">REST API & GraphQL</a></li>
          </ul>
        </li>
        <li class="nav-link has-dropdown">
          <a href="#">
            <i class='bx bx-code-alt icon'></i>
            <span class="text nav-text">Performance</span>
            <span class="arrow">&#9660;</span>
          </a>
          <ul class="submenu">
            <li><a href="#">Debouncing & Throttling</a></li>
            <li><a href="#">Lazy Loading</a></li>
            <li><a href="#">Webpack & Babel</a></li>          
          </ul>
        </li>
      </ul>
    <div class="bottom-content">
      <li>
        <a href="../../index.html">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Exit Module</span>
        </a>
      </li>

      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Dark mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>

<section class="home">
  <div class="text">ADVANCE JAVASCRIPT</div>
</section>

<script src="../js/module.js"></script>
</body>
</html>
